//
// Variables
// --------------------------------------------------

// init
$dark-color01: var(--dark-color01);
$dark-color02: var(--dark-color02);
$dark-color03: var(--dark-color03);
$dark-color04: var(--dark-color04);
$dark-color05: var(--dark-color05);
$dark-color06: var(--dark-color06);
$dark-color07: var(--dark-color07);
$dark-color08: var(--dark-color08);
$light-color01: var(--light-color01);
$light-color02: var(--light-color02);
$light-color03: var(--light-color03);
$light-color04: var(--light-color04);
$light-color05: var(--light-color05);
$light-color06: var(--light-color06);
$light-color07: var(--light-color07);
$light-color08: var(--light-color08);
$green-color01: var(--green-color01);
$green-color02: var(--green-color02);
$green-color03: var(--green-color03);
$green-color04: var(--green-color04);
$green-color05: var(--green-color05);
$blue-color01: var(--blue-color01);
$blue-color02: var(--blue-color02);
$blue-color03: var(--blue-color03);
$blue-color04: var(--blue-color04);
$blue-color05: var(--blue-color05);
$red-color01: var(--red-color01);
$red-color02: var(--red-color02);
$red-color03: var(--red-color03);
$red-color04: var(--red-color04);
$red-color05: var(--red-color05);
$yellow-color01: var(--yellow-color01);
$yellow-color02: var(--yellow-color02);
$yellow-color03: var(--yellow-color03);
$yellow-color04: var(--yellow-color04);
$yellow-color05: var(--yellow-color05);
$white: var(--white);
$black: var(--black);

// specific color
$dark: var(--dark);
$dark-grey: var(--dark-grey);
$grey: var(--grey);
$lightest: var(--lightest);
$light: var(--light);
$green: var(--green);
$blue: var(--blue);
$yellow: var(--yellow);
$yellow-dark: var(--yellow-dark);
$red: var(--red);
$red-dark: var(--red-dark);

$primary: var(--primary);
$sub: var(--sub);
$warning: var(--warning);
$danger: var(--danger);

$title-color: var(--title-color);
$second-title-color: var(--second-title-color);
$text-color: var(--text-color);
$second-text-color: var(--second-text-color);
$third-text-color: var(--third-text-color);
$placeholder-color: var(--placeholder-color);
$input-color: var(--input-color);
$head-color: var(--head-color);

// border
$border-color: var(--border-color);
$border-hover-color: var(--border-hover-color);
$second-border-color: var(--second-border-color);
$border-focus-color: var(--border-focus-color);
$border-radius: 4px;

// input
$input-border-color: var(--input-border-color);
$input-hover-color: var(--input-hover-color);
$input-focus-color: var(--input-focus-color);
$input-error-color: var(--input-error-color);
$input-border-radius: 4px;

// background
$bg-color: var(--bg-color);
$body-bg-color: var(--body-bg-color);
$th-bg-color: var(--th-bg-color);
$card-bg-color: var(--card-bg-color);

$btn-default-bg: var(--btn-default-bg);
$btn-default-border: var(--btn-default-border);
$btn-default-hover-bg: var(--btn-default-hover-bg);
$btn-default-hover-border: var(--btn-default-hover-border);
$btn-default-active-bg: var(--btn-default-active-bg);
$btn-default-active-border: var(--btn-default-active-border);
$btn-primary-bg: var(--btn-primary-bg);
$btn-primary-hover-bg: var(--btn-primary-hover-bg);
$btn-control-bg: var(--btn-control-bg);
$btn-control-hover-bg: var(--btn-control-hover-bg);
$btn-danger-bg: var(--btn-danger-bg);
$btn-danger-active-bg: var(--btn-danger-active-bg);
$btn-flat-hover-bg: var(--btn-flat-hover-bg);
$btn-flat-active-bg: var(--btn-flat-active-bg);

$table-expanded-row-bg: var(--table-expanded-row-bg);
$table-row-hover-bg: var(--table-row-hover-bg);
$select-option-hover-bg: var(--select-option-hover-bg);

// shadow
$base-shadow: var(--base-shadow);
$title-shadow: var(--title-shadow);
$head-shadow: var(--head-shadow);

$btn-text-shadow: var(--btn-text-shadow);
$btn-default-shadow: var(--btn-default-shadow);
$btn-default-active-shadow: var(--btn-default-active-shadow);
$btn-primary-shadow: var(--btn-primary-shadow);
$btn-primary-active-shadow: var(--btn-primary-active-shadow);
$btn-control-shadow: var(--btn-control-shadow);
$btn-danger-shadow: var(--btn-danger-shadow);

$card-shadow: var(--card-shadow);
$card-hover-shadow: var(--card-hover-shadow);
$card-selector-shadow: var(--card-selector-shadow);

$tr-shadow: var(--tr-shadow);

// font
$font-family: 'PingFang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, Arial,
  'Microsoft YaHei', 微软雅黑, STHeitiSC-Light, simsun, 宋体,
  'WenQuanYi Zen Hei', 'WenQuanYi Micro Hei', sans-serif;
$font-family-id: Roboto, $font-family;
$font-family-code: 'PT Mono', Monaco, Menlo, Consolas, 'Courier New', monospace;

$text-colors: (
  primary: $text-color,
  secondary: $second-text-color,
  third: $third-text-color,
  light: $white,
);

$size-small: 12px;
$size-normal: 14px;
$size-medium: 16px; // 中号字体
$size-mid-large: 24px;
$size-large: 28px;
$body-size: $size-small;

$font-bold: 600;
$font-normal: 400;
$font-thin: 300;

// animation
$trans-speed: 0.3s;

// size
$content-width: 1164px;
$apps-content-width: 1280px;
$nav-width: 260px;
$narrow-nav-width: 240px;
$header-height: 68px;
$detail-info-width: 354px;
$modal-width: 691px;
$modal-large-width: 1162px;
$headings: (
  h1: 40px,
  h2: 32px,
  h3: 24px,
  h4: 20px,
  h5: 16px,
  h6: 14px,
);
$heading-heights: (
  h1: 56px,
  h2: 44px,
  h3: 32px,
  h4: 28px,
  h5: 20px,
  h6: 20px,
);
$icon-status-info: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTMtM2gyNHYyNEgtM3oiLz48cGF0aCBmaWxsPSIjMjE5MUNBIiBkPSJNOSAxOEE5IDkgMCAxIDEgOSAwYTkgOSAwIDAgMSAwIDE4ek05IDUuNjgxYTEuMzEyIDEuMzEyIDAgMSAwIDAtMi42MjMgMS4zMTIgMS4zMTIgMCAwIDAgMCAyLjYyM3pNOCA3LjUxNlYxNWgyVjcuNTE2SDh6Ii8+PC9nPjwvc3ZnPg==');
$icon-status-success: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTMtM2gyNHYyNEgtM3oiLz48cGF0aCBmaWxsPSIjMDBBQTcyIiBkPSJNOSAxOEE5IDkgMCAxIDEgOSAwYTkgOSAwIDAgMSAwIDE4em0tMi4xMTUtNi45NEw0LjQ5NCA4LjY3bC0xLjQxNSAxLjQxNCAzLjgwNiAzLjgwNiA3LjU0OC03LjU0OC0xLjQxNC0xLjQxNC02LjEzNCA2LjEzNHoiLz48L2c+PC9zdmc+');
$icon-status-warning: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTItM2gyNHYyNEgtMnoiLz48cGF0aCBmaWxsPSIjRjVDNDE0IiBkPSJNMTAgMGwxMCAxNy4zMkgwTDEwIDB6bTAgMTYuMDAxYTEgMSAwIDEgMCAwLTIgMSAxIDAgMCAwIDAgMnpNOSA2bC4yIDdoMS42bC4yLTdIOXoiLz48L2c+PC9zdmc+');
$icon-status-error: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTMtM2gyNHYyNEgtM3oiLz48cGF0aCBmaWxsPSIjQ0EyNjIxIiBkPSJNMTIuNzI4IDBMMTggNS4yNzJ2Ny40NTZMMTIuNzI4IDE4SDUuMjcyTDAgMTIuNzI4VjUuMjcyTDUuMjcyIDBoNy40NTZ6bS0yLjMxNCA5bDMuNDY2LTMuNDY2LTEuNDE0LTEuNDE0TDkgNy41ODYgNS41MzYgNC4xMjIgNC4xMjIgNS41MzYgNy41ODYgOSA0LjEyIDEyLjQ2NmwxLjQxNCAxLjQxNEw5IDEwLjQxNGwzLjQ2NCAzLjQ2NCAxLjQxNC0xLjQxNEwxMC40MTQgOXoiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTAuNDE0IDlsMy40NjQgMy40NjQtMS40MTQgMS40MTRMOSAxMC40MTQgNS41MzQgMTMuODggNC4xMiAxMi40NjYgNy41ODYgOSA0LjEyMiA1LjUzNmwxLjQxNC0xLjQxNEw5IDcuNTg2bDMuNDY2LTMuNDY2IDEuNDE0IDEuNDE0eiIvPjwvZz48L3N2Zz4=');

$kube-tools-z-index: 1999;
$kube-pop-up-window-z-index: $kube-tools-z-index + 1;

